body{
background-color: rgb(211, 238, 252);
text-align: center;
font-family: 'Open Sans', sans-serif;




}
#doadores{
background-color: rgb(183, 228, 251); ;




}

#introducao{

    background-color: rgb(183, 228, 251); 





}
#sobrenos{

    background-color: rgb(183, 228, 251); 





}
#inicio{
    background-color: rgb(183, 228, 251); 





}



